{% extends "base.html.twig" %}


{% block body %}

	<div class="container">
		<h1>{{ prestataire.nom }}</h1>
		<div class="row">

			<div class="col-md-4">
				<img src="[url de la photo du prestataire]" class="img-fluid rounded-circle" alt="Photo du prestataire">
				<h1 class="mt-3">{{ prestataire.nom }}</h1>


				<p>Infos</p>
				<p>
					<strong>Téléphone :
					</strong>
				</p>
				<p>
					<strong>Email :
					</strong>
				</p>
				<p>
					<strong>Adresse :
					</strong>
				</p>
				<p>
					<strong>Commune :
					</strong>
					{{ prestataire.utilisateur.commune.commune }}</p>
				<p>
					<strong>Code postal :
					</strong>
				</p>
				<p>
					<strong>Localité :
					</strong>
					{{ prestataire.utilisateur.localite.localite }}</p>

			</div>
			<div class="col-md-8">
				<div class="row">
					{% for category in categories %}
						<div class="col-md-3 mb-4">
							<div class="card" style="width: 18rem;">
								<img src="{{ asset('images/Massage_thérapeutique1.jpg') }}" class="card-img-top" alt=""/>
								<div class="card-body">
									<h5 class="card-title">{{ category.nom }}</h5>
									<p>{{category.description}}</p>
									<a href={{path('app_categorie_detail',{'id': category.id} )}} class="btn btn-primary">Voir plus</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

{% endblock %}
